---
import Layout from "../layouts/Layout.astro"
import dither from "../dither.png?url"
---

<Layout title="ETCETERA DEVELOPMENT" description="SOFTWARE IN YOUR CONTROL">
	<h1>
		Software<br />in your<br />control <svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 173.8 275.72"
			height="100px"
			style="vertical-align:top"
			fill="currentColor">
			<circle cx="37.13" cy="26.43" r="21.6"></circle>
			<circle cx="34.62" cy="117.87" r="34.62"></circle>
			<circle cx="119.78" cy="130.68" r="21.6"></circle>
			<circle cx="127.16" cy="46.64" r="46.65"></circle>
			<circle cx="102.68" cy="219.58" r="56.14"></circle>
		</svg>
	</h1>
	<p>
		etc. est. 2020. Etcetera Development is a collective of developers and designers dedicated
		to eliminating proprietary software.
	</p>
	<h2>Software</h2>
	<h3>monofile</h3>
	<p>File sharing over the Discord CDN</p>
	<a href="https://github.com/mollersuite/monofile">Source</a>
	<a href="https://fyle.uk">Flagship instance</a>
	<h3>trollsmile</h3>
	<p>User-install only Discord bot</p>
	<a href="https://github.com/mollersuite/trollsmile">Source</a>
	<a href="https://discord.com/oauth2/authorize?client_id=557323946656006145">Install</a>
	<!-- <h3>Etcet</h3>
	<p>The world's fastest bookmark manager<br />Available on Android and Linux</p>
	<a href="https://f-droid.org/packages/uk.cetera.etcet/">F-Droid</a>
	<a href="https://flathub.org/apps/details/uk.cetera.Etcet">Flathub</a>
	<a href="https://github.com/mollersuite/etcet">Source</a>
	<h3>Tangent</h3>
	<p>
		A <a href="https://www.w3.org/TR/ethical-web-principles/">user</a> agent.
		<br />Dynamic Tabs, Super Block, and <a
			href="https://github.com/mollersuite/tangent/tree/main/libarc">libarc</a
		>.
	</p>
	<a href="https://tangent.surf">Website</a>
	<a href="https://github.com/mollersuite/tangent">Source</a> -->
	<h2>Philosophy</h2>
	<p>Etceteran propaganda</p>
	<ul>
		<!-- <li>
			<a href="https://www.gnu.org/philosophy/who-does-that-server-really-serve"
				>Who Does That Server Really Serve</a
			> Third-party servers are out of your control
		</li> -->
		<li>
			<a href="https://www.gnu.org/philosophy/wwworst-app-store">WWWorst App Store</a>
			Web apps are out of your control
		</li>
		<li>
			<a href="https://ometer.com/preferences">Choosing our Preferences</a> If a feature is so bad that it needs a toggle,
			it shouldn't exist
		</li>
	</ul>
	<h2>Etceterans</h2>
	<ul>
		<li><a href="https://mau.monster">mau</a></li>
		<li><a href="https://maliciousmeaning.dev">malice</a></li>
		<li><a href="https://miss.rce.run">missrce</a> Founder</li>
		<li><a href="https://jack.cab">Jack</a> Founder, maintainer of everything else</li>
		<li><a href="https://split.pet">split</a> Maintainer of monofile</li>
	</ul>
	<img src={dither} alt="" />
</Layout>

<style>
	img {
		image-rendering: pixelated;
		width: 100%;
		padding-top: 30ch;
	}
	ul {
		line-height: 2;
	}
	h1 {
		font-size: 100px;
		font-weight: 1000;
		text-transform: uppercase;
		margin-inline: auto;
		max-width: max-content;
		line-height: 0.9;
	}
	h2 {
		border-image: conic-gradient(white 0 0) fill 0 //0 100vw;;
		color: black;
	}
	p {
		font-size: large;
	}
</style>
