---
import Layout from "../layouts/Layout.astro"
import Circles from "../components/Circles.astro"
const people: readonly {
	name: string
	href?: string
	role: string
	country: string
}[] = [
	{
		name: "Jack",
		href: "https://jack.cab",
		role: "founder, designer, and fullstack developer",
		country: "🇺🇸",
	},
	{
		name: "Charlie",
		href: "https://coolviruses.download/@charlie",
		role: "founder and backend developer",
		country: "🇬🇧",
	},
	{
		name: "split",
		href: "https://me.fyle.uk",
		role: "designer and fullstack developer",
		country: "🇺🇸",
	},
	{
		name: "mau",
		href: "https://github.com/maumaumaumaumaumau",
		role: "backend developer",
		country: "🇨🇱",
	},
	{
		name: "Malice",
		href: "https://maliciousmeaning.dev",
		role: "designer and fullstack developer",
		country: "🇳🇿",
	},
	{
		name: "aa",
		href: "https://aagaming.me",
		role: "fullstack developer",
		country: "🇺🇸",
	},
].sort((a, b) => a.name.localeCompare(b.name))
---

<Layout
	title="Etcetera Development"
	description="We write software, usually out of spite. Not-for-profit, always free as in freedom."
>
	<!-- <h1 class="tagline">
		<svg
			viewBox="0 0 64.0997 21.919"
			height="90px"
			width="372px"
			style="vertical-align:sub"
			aria-label="Everything"
		>
			<circle cx="52.375" cy=".698167" r=".570367"></circle>
			<circle cx="54.7523" cy="1.23184" r="1.23184"></circle>
			<circle cx="52.3087" cy="3.11273" r=".914172"></circle>
			<circle cx="54.5575" cy="3.45098" r=".570367"></circle>
			<path
				d="m-13.2778 18.0035v-13.5049h9.68912v2.39282h-6.89749v3.12698h6.38086v2.32938h-6.38086v3.26294h6.89749v2.39282zm13.9309 0-3.54392-9.57129h2.80069l1.57709 4.73126q.181275.56195.353485 1.13296.172211.56195.335358 1.13297.163147-.57102.326294-1.13297.172211-.571014.344421-1.13296l1.55896-4.73126h2.7735l-3.55298 9.57129zm11.6016.21753q-1.4502 0-2.52878-.64352-1.06952-.64353-1.66772-1.76743-.589142-1.13296-.589142-2.58316 0-1.45926.598205-2.59222.60727-1.13296 1.66772-1.77649 1.06046-.643524 2.42908-.643524 1.41394 0 2.46533.634461 1.06046.625396 1.6496 1.7493.598206 1.11484.598206 2.5741v.716034h-6.80685q.03626 1.06046.625396 1.69492.589142.63446 1.64053.63446.77948 0 1.29611-.33536.525696-.33536.70697-.88824h2.43814q-.172211.95169-.806671 1.67679-.634461.72509-1.59522 1.14202-.960754.40787-2.12091.40787zm-2.16623-6.03644h4.26901q-.0997-.897309-.670716-1.41394-.56195-.525696-1.46832-.525696-.897309 0-1.45926.525696-.56195.516632-.670715 1.41394zm8.2208 5.81891v-9.57129h2.5741v1.63147h.02719q.262848-.861053.824798-1.27798.561951-.416931 1.51364-.416931.235656 0 .425994.0091.199402.0091.362549.0091v2.27499q-.145019-.0091-.480377-.02719-.335358-.01813-.670715-.01813-.824799 0-1.36862.561951-.53476.56195-.53476 1.64053v5.18444zm7.42319 3.78864v-2.11185h1.21454q.480377 0 .70697-.23566.235657-.22659.425995-.77948l.262848-.6979-3.67987-9.53504h2.80069l1.60428 4.73126q.163147.516632.317231 1.03326.163146.51663.31723 1.03326.154083-.51663.31723-1.03326.163147-.525696.326294-1.03326l1.61334-4.73126h2.7735l-4.21463 11.0487q-.453186 1.19641-1.17828 1.7493-.725098.56195-1.83994.56195zm14.8101-13.3599v2.09372h-1.95776v4.5228q0 .48944.190338.67978.199402.18127.743225.18127h1.0242v2.09372h-1.5499q-1.58615 0-2.33844-.61633-.743226-.61633-.743226-1.92151v-9.6438h2.6738v2.61035zm4.01523 4.25088v5.3204h-2.6738v-13.5049h2.6738v5.37479q.480377-.788544 1.20548-1.21454.734161-.425995 1.74023-.425995 1.5227 0 2.43814.987946.915436.978882.915436 2.79163v5.99112h-2.66473v-5.50168q0-.960754-.46225-1.45926-.46225-.507568-1.29611-.507568-.824798 0-1.35049.516632t-.525696 1.63147zm8.1936 5.3204v-9.57129h2.6738v9.57129zm1.33237-10.7768q-.661651 0-1.09671-.398804-.435058-.407868-.435058-1.0242t.435058-1.01514q.435059-.407868 1.09671-.407868.652588 0 1.08765.407868.435059.398803.435059 1.01514t-.435059 1.0242q-.435059.398804-1.08765.398804zm5.90048 5.45636v5.3204h-2.6738v-9.57129h2.62848v1.50458q.489441-.815735 1.2236-1.25986.734162-.444123 1.76743-.444123 1.5227 0 2.43814.987946.915435.978882.915435 2.79163v5.99112h-2.66473v-5.50168q0-.960754-.46225-1.45926-.46225-.507568-1.29611-.507568-.824799 0-1.3505.516632-.525695.516632-.525695 1.63147zm12.7164 9.23593q-2.03934 0-3.15418-.85199t-1.31424-2.2478h2.5741q.14502.54382.643524.83386.498505.2991 1.25079.2991.978882 0 1.50458-.53476.53476-.53476.53476-1.56802v-1.46832h-.0091q-.425995.84292-1.16016 1.24173-.725098.38974-1.66772.38974-1.25079 0-2.18436-.6254-.933564-.6254-1.4502-1.71304-.507568-1.09671-.507568-2.52878 0-1.44113.516632-2.5469.525696-1.10577 1.4502-1.73117.933564-.634461 2.15717-.634461.924499 0 1.6496.398804.734161.38974 1.19641 1.18735h.0091v-1.38675h2.63754v9.19968q0 1.51364-.598206 2.45627-.589142.95169-1.64053 1.38675-1.05139.44412-2.43814.44412zm-.108765-6.0455q1.01514 0 1.63147-.75229t.616333-2.01215q0-1.25079-.616333-2.00308t-1.63147-.752289q-.969818 0-1.55896.725098-.580078.716034-.580078 2.03027 0 1.32331.580078 2.0484.589142.71604 1.55896.71604z"
			></path>
		</svg> unleashed.
	</h1> -->
	<Circles />
	<p>
		<abbr title="et cetera">etc.</abbr>
		<abbr title="established">est.</abbr> 2020. We make <a
			href="https://www.gnu.org/philosophy/free-sw">free software</a
		>. We do it out of spite. <a href="https://wavesmiley.com">Wave smiley</a> is
		our mascot.
	</p>
	<h2>Software</h2>
	<div>
		<article>
			<h1>
				<a href="https://tangent.surf"
					><svg width="20.367394208" height="20" viewBox="0 0 41.2331 57.2646">
						<title>Tangent</title>
						<path
							d="m-8.54114 26.7561h14.4657v11.801h23.6563c1.849 0 3.11792-.36255 3.80677-1.08765.68884-.76135 1.03326-2.17529 1.03326-4.24182v-6.4715h14.4657v10.5502c0 6.92469-1.28705 11.9822-3.86115 15.1727-2.61035 3.19043-6.70716 4.78565-12.2904 4.78565l-41.2762-18.7075zm48.1827-6.30835c-13.4239 0-13.4239-20.4478 0-20.4478 13.5101 0 13.5101 20.4478 0 20.4478zm-36.1642 0c-13.4239 0-13.4239-20.4478 0-20.4478 13.5101 0 13.5101 20.4478 0 20.4478z"
							data-astro-cid-xbstl6g3=""></path>
					</svg> Tangent</a
				>
			</h1>
			<p>The <em>user</em> agent.</p>
		</article>
		<article>
			<h1>
				<a href="https://github.com/mollersuite/oxymoron"
					><svg height="20" viewBox="0 0 173.8 275.72">
						<path
							d="m100.289 163.499c-18.3408.76763-35.119 10.4452-44.9885 25.9349-13.3786 21.055-11.2677 48.4154 5.18153 67.1949 16.4492 18.7247 43.3162 24.3722 65.9338 13.8173 3.50916-1.6175 5.04441-5.81204 3.3995-9.3212-1.64492-3.50916-5.81205-5.01701-9.32121-3.3995-16.9701 7.95044-37.1477 3.72848-49.4846-10.363-12.3643-14.0641-13.9544-34.6255-3.86557-50.3893 10.034-15.8186 29.3344-23.0563 47.2914-17.82 17.9844 5.23632 30.3488 21.7129 30.3488 40.4376-.0274.0823-.0274.19191 0 .27415v6.74417c0 2.52221-1.34335 4.79769-3.50916 6.05879-2.19323 1.26111-4.85252 1.26111-7.01832 0-2.19323-1.23369-3.53658-3.56399-3.50916-6.05879v-7.01832c0-15.4348-12.6659-28.0733-28.0733-28.0733-15.4348 0-28.0733 12.6384-28.0733 28.0733 0 15.4074 12.6385 28.0733 28.0733 28.0733 7.3199 0 13.9544-2.93344 18.9714-7.56663 1.56268 1.86424 3.42691 3.48175 5.59273 4.74285 6.49743 3.7559 14.5301 3.7559 21.055 0 6.49743-3.7559 10.5001-10.7194 10.5275-18.2312v-7.01832c-.0274-24.9479-16.504-46.9076-40.4376-53.9259-5.89429-1.69975-11.9805-2.43996-18.0941-2.16581zm2.38514 42.0551c7.81338 0 14.0367 6.19586 14.0367 14.0366 0 7.81337-6.22328 14.0366-14.0367 14.0366-7.84076 0-14.0366-6.22328-14.0366-14.0366 0-7.84077 6.19588-14.0366 14.0366-14.0366z"
						></path>
						<circle cx="37.13" cy="26.43" r="21.6"></circle>
						<circle cx="127.16" cy="46.64" r="46.65"></circle>
						<circle cx="34.62" cy="117.87" r="34.62"></circle>
						<circle cx="119.78" cy="130.68" r="21.6"></circle>
					</svg> Oxymoron</a
				>
			</h1>
			<p>An ActivityPub server for morons.</p>
		</article>
		<article>
			<h1>
				<a href="https://fyle.uk"
					><svg version="1.1" height="20" viewBox="0 0 3.175 3.9712">
						<defs>
							<linearGradient
								id="gradient"
								x1="39.034"
								x2="42.209"
								y1="121.39"
								y2="121.39"
								gradientTransform="translate(-39.034 -117.68)"
								gradientUnits="userSpaceOnUse"
							>
								<stop stop-color="currentColor" stop-opacity="0" offset="0"
								></stop>
								<stop stop-color="currentColor" offset=".5"></stop>
							</linearGradient>
						</defs>
						<path d="m0 3.442"></path>
						<path d="m0 3.442v.52917h3.175v-.52917z" fill="url(#gradient)"
						></path>
						<path
							d="m1.5875 1.9595c-.14573 0-.26458.11885-.26458.26458v.05l-.60668-.60669c-.04961-.0496-.11679-.0775-.18707-.0775s-.13746.0279-.18707.0775c-.10335.10336-.10335.27079 0 .37414l1.0583 1.0583c.10335.10335.27078.10335.37414 0l1.0583-1.0583c.10335-.10335.10335-.27078 0-.37414-.10335-.10335-.27078-.10335-.37414 0l-.60668.60669v-.05c0-.14573-.11886-.26458-.26458-.26458z"
						></path>
						<path
							d="m1.899-2.8827e-6h-.57727l-.56825.34727v.53217l.50511-.30217h.01353v1.7318h.62688z"
						></path>
					</svg> monofile</a
				>
			</h1>
			<p>The Discord-based file sharing service.</p>
		</article>
		<article>
			<h1>
				<a href="https://retune.stream"
					><svg viewBox="-40 0 220 226.838" height="20">
						<path
							d="M81.167 35.547C88.991 26.155 94.161 13.022 92.722 0 81.52.484 68.016 7.471 59.941 16.874c-7.24 8.315-13.495 21.699-11.815 34.47 12.418.965 25.199-6.385 33.032-15.787"
						></path><path
							d="M46.077 77.432h14.936c2.975 0 5.834.873 8.284 2.508l44.806 29.87c8.868 5.893 8.868 18.962 0 24.854l-44.806 29.871a14.87 14.87 0 0 1-8.284 2.508H46.077Zm0 0"
						></path><path
							d="M112.824 56.078c31.506 18.67 45.158 57.235 32.381 91.542-12.778 34.365-48.31 54.61-84.366 48.134-36.057-6.476-62.254-37.865-62.254-74.506 0-8.226-6.71-14.936-14.936-14.936-8.285 0-14.936 6.71-14.936 14.936 0 51.11 36.523 94.869 86.816 103.912 50.293 9.044 99.828-19.195 117.681-67.096 17.795-47.901-1.225-101.636-45.217-127.658-7.06-4.2-16.22-1.866-20.42 5.25-4.201 7.06-1.867 16.22 5.25 20.422zm0 0"
						></path><path
							d="M7.395 136.418h-41.95c-3.15 0-6.068-1.635-7.643-4.317-1.634-2.744-1.75-6.068-.235-8.869l21.062-39.499c1.4-2.624 4.143-4.26 7.118-4.318 2.976 0 5.718 1.575 7.177 4.201l22.112 39.791c1.517 2.684 1.517 6.01-.115 8.694a8.72 8.72 0 0 1-7.527 4.317zm0 0"
						></path><path
							d="m10.662 83.266-31.214-24.33a8.92 8.92 0 0 1-3.326-8.168c.351-3.09 2.334-5.776 5.251-7.06l35.474-15.636c2.8-1.224 6.068-.873 8.518.933 2.45 1.81 3.793 4.843 3.443 7.877L24.14 77.606c-.35 2.975-2.334 5.601-5.076 6.768a8.393 8.393 0 0 1-8.402-1.108zm0 0"
						></path></svg
					> Retune</a
				>
			</h1>
			<p>
				A cross-platform music client based on Cider Classic, without the
				bullshit.
			</p>
		</article>
	</div>
	<h2 id="people">People</h2>
	<ul style="line-height:2">
		{
			people.map(({ href, name, role, country }) => (
				<li>
					{country} <a {href}>{name}</a> is our {role}
				</li>
			))
		}
	</ul>
</Layout>

<style>
	svg {
		fill: currentColor;
	}
	a svg {
		vertical-align: middle;
	}
	@font-face {
		font-family: "Super Inter Display";
		src: local("Inter Variable");
		font-feature-settings: "cv13", "cv11";
	}
	.tagline {
		font-size: 80px;
		font-family: "Super Inter Display", "Inter Display", Inter, sans-serif;
	}
	@media (min-width: 800px) {
		div {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 1ch;
		}
		article {
			background: #090909;
			border-radius: 1ch;
		}
	}
	article {
		a {
			padding: 1ch;
			display: block;
		}
		p {
			padding-inline: 1ch;
			padding-bottom: 1ch;
			padding-top: 0;
		}
		h1 {
			margin-block-start: 0;
		}
	}
</style>
