// a {
// 	background: #6acb5d;
// 	color: canvas;
// 	border-radius: 8px;
// 	padding-inline: 8px;
// 	padding-block: 4px;
// 	text-decoration: none;
// }

ul.bento {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1ch;
	padding: 0;

	@media (min-width: 800px) {
		display: grid;
		grid-template-areas:
			"methodsave methodsave oxymoron"
			"tangent more oxymoron"
			"tangent masstable method";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px;
		padding: 0;
	}
	li {
		display: contents;
	}
	a {
		display: flex;
		flex-direction: column;
		background: Field;
		color: FieldText;
		border-radius: 8px;
		text-decoration: none;
		@media (prefers-color-scheme: light) {
			background: ButtonFace;
			color: ButtonText;
		}
		p {
			padding-inline: 1rem;
			padding-block: 0;
			padding-bottom: 1ch;
			flex-grow: 1;
			@media (min-width: 800px) {
				padding-bottom: 0;
			}
		}

		h3 {
			padding-inline: 1rem;
			padding-block: 0;
			margin: 0;
			margin-block-start: 1ch;
		}
		img {
			width: 100%;
		}
	}

	video {
		width: 100%;
		@media (min-width: 800px) {
			width: 300px;
		}
	}
}
